{% extends "common/dash_layout.html" %}

{% block page_content %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row pt-4">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Tasks</h5>
                  <span class="h2 font-weight-bold mb-0">{{ task_list.count }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Assigned</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                    <i class="ni ni-chart-pie-35"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                    <i class="ni ni-money-coins"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                    <i class="ni ni-chart-bar-32"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Tasks | {{ project.title }}</h3>
            </div>
            <div class="col text-right"  data-toggle="modal" data-target="#createTask-Modal">
              <div class="btn btn-sm btn-primary">Create</div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush" style="width: 100%;">
            <thead class="thead-light">
              <tr>
                <th scope="col" scope="row">Title</th>
                <th scope="col">Skill</th>
                <th scope="col">duration</th>
                <th scope="col">Assigned To</th>
                <th scope="col">status</th>
                <th scope="col">deadline</th>
              </tr>
            </thead>
            <tbody>
             {% for task in task_list %}
              <tr>
                  <th scope="row" title="{{ task.description }}" data-toggle="tooltip" data-placement="top">
                    {{ task.title }}
                  </th>

                <td>
                   {{ task.skill.title }}
                </td>
                <td >
                   {{ task.duration }}
                </td>
                <td>
                    {% for assinee in task.taskassignee_set.all %}
                        <span data-toggle="tooltip" data-placement="top" title="{{ assinee.user.get_full_name }} ({{ assinee.user }})">
                            {{ assinee.user }}
                        <span>
                    {% endfor %}
                </td>
                <td>
                   {{ task.get_status_display }}
                </td>
                <td>
                   {{ task.deadline }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">ConvAI Chatbot</h5>
          <div class="card-text">
            <p><strong>A.I:</strong>How are you feeling today</p>
            <p><strong>You:</strong> I'm doing good. I need some help.</p>
            <p><strong>A.I:</strong> What can I help you with today?</p>
            <p><strong>You:</strong> Which project should I work on?</p>
            <p><strong>A.I:</strong> Project Wayfarer has only 3 hours worked. Maybe you can start there.</p>
            <p><strong>You:</strong> Good idea! Thanks!</p>
            </div>
          <div class="row">
              <div class="col-10">
                  <input type="text" class="form-control" placeholder="Your message:">
              </div>
            <div class="col-2">
                <a href="#" class="btn btn-sm btn-primary">Send</a>
            </div>
          </div>
          </div>
      </div>
    </div>

  </div>

</div>

<div class="modal fade" id="createTask-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted" id="exampleModalLabel">Create Task</h5>
      </div>
      <div id="div-forms">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="modal-body">
            {{create_task_form.as_p}}
          </div>
          {% for field in create_task_form %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          {% endfor %}
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name="create-task" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
